.catalog-item
  h3= link_to auto_show.name, "/auto_shows/#{auto_show.href_id}"
  .logo-grid
    = link_to "/auto_shows/#{auto_show.href_id}" do
      = image_tag auto_show.logo.url,  alt: "#{auto_show.name}"
  .foto-grid
    = link_to "/auto_shows/#{auto_show.href_id}" do
      = image_tag auto_show.picture.url,  alt: "#{auto_show.name}"
  .rating class="grade#{auto_show.rating}"
    p Рейтинг
    span =auto_show.rating>0 ? auto_show.rating : '-'
    | /5
  .rating-shadow
  .rewiews-grid
    | Отзывов об автосолоне:
    span = link_to auto_show.reviews.count, "/auto_shows/#{auto_show.href_id}#reviews"