.content.clearfix
  .page
    .preview
      h2 =@brand ?  @catalog.title_for_brand(@brand.name) : @catalog.title
      =@catalog.description.html_safe if @catalog.description
    h1 Каталог автосалонов
    .catalog-grid.clearfix
      - @auto_shows.each do |auto_show|
        = render 'auto_show/catalog_item', auto_show: auto_show