.review-salon.clearfix
  .av190
    =image_tag review.photo.url
  .rblock
    span.user-name =review.name
    .rating-user
      p Оценил автосалон на:
      span class="grade-ns#{review.value}"
        =review.value
  /.text-review = truncate(review.description, :ommision => "... Читать весь отзыв", :length => 100)
  .text-review = review.description.html_safe if review.description