.content.clearfix
  .page
    .preview
      h2 =@auto_show.top_header
      =@auto_show.top_text.html_safe if @auto_show.top_text
  .list-item.clearfix itemscope="" itemtype="http://schema.org/AutoDealer"
    .salon-page
      h1 itemprop="name" ="Автосалон '#{@auto_show.name}', МОСКВА"
      .sp-block
        .foto-grid
          =image_tag @auto_show.picture.url,  alt: @auto_show.name
        .rating.r-list class="grade-ns#{@auto_show.rating}"
          p Рейтинг
          span =@auto_show.rating>0 ? @auto_show.rating : '-'
          | /5
        .rating-shadow.salon-page
        .reviews-salon
          | Отзывов об автосолоне:
          span
            = link_to @auto_show.reviews.count, '#reviews'
    .contact-block.col-7
      .logo-salon
        =image_tag @auto_show.logo.url,  alt: @auto_show.name
      .cols.col-5.cont-left
        .adress itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"
          p Адрес:
          /span itemprop="addressLocality"  г.Москва
          span itemprop="streetAddress" =@auto_show.address
        p Телефоны:
        span itemprop="telephone" =@auto_show.phone
        p График работы:
        time datetime=("Mo-Su 09:00−21:00") itemprop="openingHours"  =@auto_show.work_time
      .cols.col-5.cont-right
        p Сайт автосалона:
        =link_to @auto_show.site, @auto_show.site, itemprop: "url"
        p Электронная почта:
        =mail_to @auto_show.email, nil, itemprop: "email"
  .brands-sales.clerafix
    h4 Бренды в продаже:
    - @auto_show.brands_obj.each do |brand|
      li =link_to brand.name, "/brands/#{brand.href_id}"
  .services.clerafix
    - if @auto_show.services
      h4 Услуги:
      =@auto_show.services.html_safe
  .buying-options
    - if @auto_show.variants
      h4 Варианты покупки авто:
      = @auto_show.variants.html_safe
  .inform-autosalon
    - if @auto_show.description
      h4 Информация об автосалоне:
      = @auto_show.description.html_safe
  .map-autosalon
    h4 Автосалон на карте
    iframe allowfullscreen="" frameborder="0" height="280" style="border:0" width="100%" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB_naT5DAI3Zw0yskTHw7r8hbhzb3cHLyQ&q=#{@auto_show.address_for_google}"
    /src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2240.8601311463403!2d37.40638721593361!3d55.83038698057424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b547c61a8ff9ab%3A0xfc1d8491327f3e5e!2z0JLQvtC70L7QutC-0LvQsNC80YHQutC-0LUg0YguLCAxMjAsINCc0L7RgdC60LLQsCwgMTI1Mzcx!5e0!3m2!1sru!2sru!4v1472200538045"
  =render 'auto_show/item_reviews'
  .more-reviews
    a href=""  Показать больше отзывов