.cols.col-12.main-page
  .footer
    .content
      .cols.col-5.footer-left
        .logo-footer
        .copy
          p 2016 домен.рф
          span
            | Использование материалов сайта возможно исключительно
            | с разрешения владельца
      .cols.col-7.footer-right
        .footer-menu
          li.link-bl  =link_to "Каталог", root_path
          li.link-bl  =link_to "О сайте", about_path
          li.link-bl  =link_to "Контакты", contacts_path
          li          =link_to "Топ худших", worst_path
          li          =link_to "Самые обсуждаемые", most_discussed_path
          li          =link_to "Последние мнения", last_reviews_path
          li          =link_to "Реальные отзывы", reviews_path
        .footer-brend
          =render 'brands/list'