.container
  .header.clearfix
    .cols.col-6
      .logo
        = link_to root_path do
          =image_tag 'logo.png', alt: "Рейтинг автосалонов Москвы"
        = link_to root_path do
          span Рейтинг автосалонов Москвы
        = link_to root_path do
          p Честно и объективно, от покупателей
          a.front href="/"
      .stars-top
        =image_tag "top-stars.png"
    .cols.col-6
      .top-right
        .auto-salon
          span Автосалоны по маркам:
          =render 'brands/list'
        .top-auto-salon
          span Популярные:
          - @popular.each do |item|
            =link_to "Автосалон #{item.name}", "auto_shows/#{item.href_id}"
        .review-top
          li.first
            = link_to 'Оставить отзыв', new_review_path, data: { modal: true }
          li.second
            = link_to  'Связь с администрацией', new_feedback_path, data: { modal: true }