.navigation.clearfix
  .row
    nav.pushy.pushy-left
      ul
        li.pushy-link
          =link_to "Топ лучших", best_path
        li.pushy-link
          = link_to "Каталог", root_path
        li.pushy-link
          = link_to "О сайте", about_path
        li.pushy-link
          = link_to "Контакты", contacts_path
        li.pushy-link
          =link_to "Топ худших", worst_path
          span 9
        li.pushy-link
          =link_to "Самые обсуждаемые", most_discussed_path
          span 9
        li.pushy-link
          =link_to "Последние мнения", last_reviews_path
          span 34
        li.pushy-link
          =link_to "Реальные отзывы", reviews_path
          span =Review.count



    .cols.col-5.left-menu
      .menu-btn
        =image_tag "menu.png"
          span Меню
      .red-left
      .top-button
        =link_to "Топ лучших", best_path
    .cols.col-7.right-menu
      .first-menu
        li.link-first
          =link_to root_path do
            span Каталог
        li.link-second
          =link_to about_path do
            span О сайте
        li.link-third
          =link_to contacts_path do
            span Контакты
      .second-menu
        li
          =link_to "Топ худших", worst_path
          span 9
        li
          =link_to "Самые обсуждаемые", most_discussed_path
          span 9
        li
          =link_to "Последние мнения", last_reviews_path
          span 34
        li.end-s
          =link_to "Реальные отзывы", reviews_path
          span =Review.count

.site-overlay