.block-nav
  .nav-page
    - pth = request.env['PATH_INFO']
    = link_to('', pth, class:'arrows-pre') if @page>1
    = link_to('', pth, class: 'arrow-pre') if @page==2
    = link_to('', pth+"?page=#{@page-1}", class: 'arrow-pre') if @page>2
    .links-nav
      - f=false
      - @pages.times do |index|
        - i=index+1
        - if [1,@pages, *((@page-1)..(@page+1))].include? i
          = link_to i, pth+"?page=#{i}", class: "#{'active' if @page==i }"
          - f=true
        - else
          - if f
            span.dot
          - f=false
    = link_to('', pth+"?page=#{@page+1}", class: 'arrow-next')  if @page < @pages
    = link_to('', pth+"?page=#{@pages}",  class: 'arrows-next') if @page < @pages