.cols.col-12.main-page
  .content.clearfix
    .page
      .preview
        h1 О сайте
        | Наш сайт создан для того, чтобы представить вам свежую информацию по самым популярным столичным автосалонам и объективные отзывы клиентов, совершивших покупки в оных.