.cols.col-12.main-page
  .content.clearfix
    .page
      .preview
        h1 Свяжитесь с нами
        | Наш сайт создан для того, чтобы представить вам свежую информацию по самым популярным столичным автосалонам и объективные отзывы клиентов, совершивших покупки в оных.
        br/
        | Если у вас возникли вопросы, мы с радостью ответим на них. Оставляйте заявку в форме для обратной связи. В ближайшее время мы свяжемся с вами и ответим на все интересующие вас вопросы.
  =render 'feedbacks/form'