= form_for @feedback do |f|
  .content.clearfix
    .cols.col-4
      = f.text_field :name, placeholder: "Ваше имя"
      = f.text_field :email, placeholder: "Адрес электронной почты"
    .cols.col-8
      = f.text_area :message, placeholder: "Что бы Вы хотели нам сообщить", rows: 5
      = f.submit "Отправить"