= form_for @feedback do |f|
  .content
    h2 Напишите нам
    .modal-form
      = f.text_field :name, placeholder: "Ваше имя"
      = f.text_field :email, placeholder: "Адрес электронной почты"
      = f.text_area :message, placeholder: "Ваше собщение", rows: 5
      = f.submit "Отправить"