/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require review
 *= require bootstrap
 *= require bootstrap-theme
 *= require noto_sans
 *= require pushy
 *ff #= require_tree .
 *ff #= require_self
 */

* {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}

a {
  text-decoration:none;
  color:#2897c0
}

a:hover {
  color:#00bff3
}

img {
  width:100%;
  height:auto
}

body {
  font-size:12px;
  font-family:'Noto Sans',sans-serif;
  color:#252525
}

.container {
  width:100%
}

.cols {
  position:relative;
  float:left
}

.col-1 {
  width:8.33333%
}

.col-2 {
  width:16.66666%
}

.col-3 {
  width:25%
}

.col-4 {
  width:33.33332%
}

.col-5 {
  width:41.66665%
}

.col-6 {
  width:50%
}

.col-7 {
  width:58.33333%
}

.col-8 {
  width:66.66666%
}

.col-9 {
  width:75%;
  background:#dff1c6
}

.col-10 {
  width:83.33333%
}

.col-11 {
  width:91.66666%
}

.col-12 {
  width:100%
}

.row:after {
  content:" ";
  display:block;
  float:none;
  clear:both;
  display:table
}

.clearfix:before,.clearfix:after {
  content:" ";
  display:table
}

.clearfix:after {
  clear:both
}

.clearfix {
  *zoom:1
}

h1,h2,h3,h4,h5,h6 {
  font-weight:400
}

input:not([type]),input[type="email"],input[type="number"],input[type="password"],input[type="tel"],input[type="url"],input[type="text"] {
  font-family:"Noto sans",sans-serif;
  font-size:14px;
  color:#acacac;
  padding:10px;
  border-radius:0;
  border:1px solid #acacac;
  width:100%;
  margin:10px 0
}

textarea {
  border-radius:0;
  border:1px solid #acacac
}

.logo {
  position:relative;
  max-width:345px;
  float:left
}

.logo .front {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:999;
}

.header {
  margin:20px auto 0;
  width:1170px
}

.list-item {
  margin-bottom:25px
}

.mark {
  font-size:10px;
  margin-top:25px
}

.mark li {
  float:left;
  display:block;
  padding-right:10px
}
.auto-salon {
  float:left;
}
.top-auto-salon {
  float:left;
  margin-top:30px;
  display:block;
  width:100%;

}

.top-auto-salon h4 {
  float:left
}

.top-auto-salon a {
  font-size:12px;
  text-transform:uppercase;
  padding:0 5px
}

.auto-salon span,.top-auto-salon span {
  font-size:12px;
  text-transform:uppercase
}

.review-top {
  float:left;
  margin-top:40px
}

.review-top li {
  float:left;
  display:block;
  margin-right:20px;
  font-size:12px;
  text-transform:uppercase
}

.review-top li a {
  border-bottom:1px dashed #ccc;
  color:#252525;
  margin-left:25px;
  display:block;
  text-decoration:none;
}

.review-top li a:hover {
  border-bottom:1px solid #ccc
}

li.first {
  background-image: image-url('icon-msg.png');
  background-repeat: no-repeat;
  background-position:0 -1px
}

li.second {
  background-image: image-url('icon-admin.png') ;
  background-repeat: no-repeat;
  background-position:2px 2px
}

.navigation {
  background:#ebebeb;
  width:100%;
  height:65px;
  margin-top:15px
}

.red-left {
  height:65px;
  background:#e12e21;
  -webkit-transform:skew(40deg);
  -moz-transform:skew(40deg);
  -o-transform:skew(40deg);
  transform:skew(40deg)
}

.row {
  width:1170px;
  margin:0 auto
}

.red-left:before {
  content:" ";
  width:10px;
  height:65px;
  background:#fff;
  position:relative;
  display:block;
  margin-left:-1px
}

.top-button {
  float:left;
  background-image: image-url('btn-bg.png');
  background-position:10px 150px;
  width:240px;
  border-radius:0 0 5px 5px;
  height:135px;
  margin-top:-65px;
  position:relative;
  margin-left:60px
}

.top-button a {
  color:#734b0b;
  text-transform:uppercase;
  text-decoration:underline;
  text-align:center;
  display:block;
  line-height:135px;
  font-size:18px;
  position:relative;
  z-index:10;
}

.top-button a:hover {
  color:#aa7a2d
}

.first-menu {
  position:relative;
  display:block;
  margin-left:30px
}

.first-menu li {
  height:65px;
  line-height:65px;
  padding:0 35px;
  background:#2897c0;
  display:inline-block;
  -webkit-transform:skew(40deg);
  -moz-transform:skew(40deg);
  -o-transform:skew(40deg);
  transform:skew(40deg)
}

.first-menu a {
  font-size:11px;
  text-transform:uppercase;
  color:#fff;
  display:block;
  position:absolute;
  left:0;
  right:0;
  text-align:center
}

.first-menu li:hover {
  background:#00bff3
}

.first-menu li a:hover {
  background:#00bff3;
  color:#fff;
}

.first-menu span {
  display:inline-block;
  -webkit-transform:skew(-40deg);
  -moz-transform:skew(-40deg);
  -o-transform:skew(-40deg);
  transform:skew(-40deg)
}

li.link-first {
  border-right:2px solid #fff;
}

li.link-second {
  border-right:2px solid #fff;
}

.link-third:after {
  float:right;
  content:" ";
  width:10px;
  height:65px;
  background:#fff;
  position:relative;
  display:block;
  margin-right:-45px
}

.cols.col-6.right-menu {
  float:right
}

.first-menu li {
  width:33%
}

.stars-top {
  position:absolute;
  top:-20px;
  z-index:9
}

.second-menu {
  background:#e4291e;
  height:65px;
  line-height:65px;
  padding-left:55px;
  margin-right:-21px;
  margin-left:-40px;
  margin-top:-3px
}

.second-menu li {
  position:relative;
  display:block;
  float:left;
  padding:0 25px;
  border-right:1px solid #ec675f;
  line-height:25px;
  margin-top:22px
}

.second-menu li a {
  position:relative;
  z-index:10;
  font-size:12px;
  text-transform:uppercase;
  color:#fff
}

.second-menu li a:hover {
  text-decoration:underline
}

.second-menu span {
  color:#fff;
  font-size:10px;
  position:absolute;
  top:-8px
}

li.end-s {
  border:none
}

.navigation:after {
  margin-top:10px;
  content:" ";
  height:1px;
  width:100%;
  background:#e1e1e1;
  position:absolute
}


.col-1 {
  width:8.33333%
}

.col-2 {
  width:16.66666%
}

.col-3 {
  width:25%
}

.col-4 {
  width:33.33332%
}

.col-5 {
  width:41.66665%
}

.col-7 {
  width:58.33333%
}

.col-8 {
  width:66.66666%
}

.col-9 {
  width:75%;
  background:#dff1c6
}

.col-10 {
  width:83.33333%
}

.col-11 {
  width:91.66666%
}

.col-12 {
  width:100%
}

.row:after {
  content:" ";
  display:block;
  float:none;
  clear:both;
  display:table
}

h1,h2,h3,h4,h5,h6 {
  font-weight:400
}

input:not([type]),input[type="email"],input[type="number"],input[type="password"],input[type="tel"],input[type="url"],input[type="text"] {
  font-family:"Noto sans",sans-serif;
  font-size:14px;
  color:#000;
  padding:10px;
  border-radius:0;
  border:1px solid #acacac;
  width:100%;
  margin:10px 0
}

textarea {
  border-radius:0;
  border:1px solid #acacac
}

.content {
  width:1170px;
  margin:0 auto;
  padding:10px 0
}

h2 {
  font-size:18px;
  padding:10px 0
}

.preview {
  font-size:14px;
  padding:25px 0
}

h1 {
  font-size:24px;
  text-transform:uppercase;
  padding:10px 0 20px
}

.catalog-item {
  max-width:340px;
  position:relative;
  overflow:visible;
  float:left;
  margin-top:40px;
  margin-left:70px
}
.menu-btn img {
  width:24px;
}


.logo-grid {
  max-width:150px;
  float:right;
  max-height:40px
}

.catalog-item h3 {
  float:left;
  color:#2897c0;
  font-size:12px;
  text-transform:uppercase;
  text-decoration:underline;
  line-height:40px;
  overflow:hidden;
  max-width:180px;
  white-space:nowrap;
  text-overflow:ellipsis
}

.rating {
  color:#fff;
  position:relative;
  width:110px;
  height:130px;
  margin-top:-88px;
  margin-left:15px;
  font-size:24px;
  text-align:center;
  background-repeat:no-repeat;
  background-position:0 110px;
  float:left;
  z-index:8
}

.rating p {
  text-transform:uppercase;
  font-size:12px;
  line-height:40px
}

.rating span {
  font-size:36px;
  padding:0 3px
}

.rewiews-grid {
  position:absolute;
  right:0;
  bottom:15px
}

.rewiews-grid span {
  font-size:18px;
  color:#1c95c3;
  text-decoration:underline;
  margin-left:3px
}
.up-file {
  position:relative;
  height:60px;
  min-width:380px;
}

input#review_photo {
  width: 100px;
  height: 50px;
  float: right;
  cursor: pointer
}

input#review_photo:after {
  font-size:14px;
  content:"Выбрать";
  position:absolute;
  line-height:20px;
  right:60px;
  top:20px;
  border-bottom:1px dashed;
  max-width:58px;
}

input#review_photo:hover:after {
  cursor:pointer;
  border-bottom:1px solid;
}

.catalog-grid {
  margin-left:-70px
}

.grade0 {
  background-color:#252525;
  background-image: image-url('star_0.png')
}
.grade1 {
  background-color:#e4291e;
  background-image: image-url('star_1.png')
}

.grade2 {
  background-color:#f7420a;
  background-image:image-url('star_2.png')
}

.grade3 {
  background-color:#f79b0a;
  background-image:image-url('star_3.png')
}

.grade4 {
  background-color:#f8c20a;
  background-image:image-url('star_4.png')
}

.grade5 {
  background-color:#97c008;
  background-image:image-url('star_5.png')
}

.grade-ns0 {
  background-color:#252525
}
.grade-ns1 {
  background-color:#e4291e
}

.grade-ns2 {
  background-color:#f7420a
}

.grade-ns3 {
  background-color:#f79b0a
}

.grade-ns4 {
  background-color:#f8c20a
}

.grade-ns5 {
  background-color:#97c008
}

.r-list {
  height:110px
}

.s-list {
  bottom:0
}

.rating-shadow {
  position:absolute;
  left:92px;
  bottom:20px;
  width:40px;
  height:22px;
  background:#460f0c;
  -webkit-transform:skew(-35deg);
  -moz-transform:skew(-35deg);
  -o-transform:skew(-35deg);
  transform:skew(-35deg);
  z-index:2
}

.form select {
  padding:10px;
  margin:5px 10px
}

.form label {
  float:left
}

input[type="file"] {
  float:right;
  width:115px;
  overflow:hidden;
  line-height:60px
}

.form span {
  font-size:14px
}

textarea#message {
  font-family:"Noto Sans",sans-serif;
  width:100%;
  margin:10px 20px;
  font-size:14px;
  padding:10px;
  height:220px
}

.send {
  background:#ececec;
  height:400px;
  color:#252525
}

.send h2 {
  text-transform:uppercase
}

label.upload-file {
  font-size:14px;
  line-height:60px
}
.up-file {
  position: relative;
  overflow: hidden;
  height:60px;

}

.btn-file{
  float: right;
  border-bottom:1px dashed;
  font-size:14px;
  margin:18px 10px 0;
}

.up-file input[type=file]{
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer
}
input[type="submit"] {
  background:#464646;
  border:0;
  padding:10px 45px;
  text-transform:uppercase;
  font-size:14px;
  color:#fff;
  margin:0 20px
}

input[type="submit"]:hover {
  color:#464646;
  background:#fff;
  cursor:pointer
}

.logo-footer {
  width:35px;
  height:35px;
  background-image:image-url('logo-footer.png');
  background-repeat: no-repeat;
  float:left
}

.copy {
  margin-left:60px;
  margin-top:-32px;
  font-size:11px
}

.footer-left {
  padding-right:90px;
  padding-top:15px
}

.copy p {
  padding-top:16px;
  padding-bottom:6px
}

.footer-menu {
  margin-left:-7px;
  padding-bottom:25px
}

.footer-menu a {
  color:#464646
}

.link-bl a {
  color:#2f9fd3
}

.footer-menu li {
  display:block;
  float:left;
  text-transform:uppercase;
  padding:0 7px;
  font-size:11px
}

.footer-menu a:hover {
  text-decoration:underline
}

.footer {
  padding:10px 0 70px
}

.salon-bl {
  position:relative;
  width:345px;
  float:left
}

.autosalon-contact {
  float:left;
  padding-left:20px;
  margin-top:30px
}

.autosalon-contact p {
  color:#898989;
  font-size:14px;
  text-transform:uppercase;
  margin-top:10px
}

.autosalon-contact span {
  display:inline-block;
  font-size:13px
}

.rating-list {
  background:#ececec;
  float:left;
  width:100%;
  color:#252525;
  padding:20px 0
}

.list-item h3 {
  color:#2897c0;
  font-size:12px;
  text-transform:uppercase;
  text-decoration:underline;
  display:inline-block;
  line-height:40px;
  overflow:hidden;
  max-width:180px;
  white-space:nowrap;
  text-overflow:ellipsis
}

.review-avatar {
  margin-top:44px
}

.review-avatar img {
  width:90px;
  height:auto
}

.review-avatar span {
  padding-left:10px;
  font-size:13px;
  text-transform:uppercase
}

.bg-white {
  background:#fff
}

.r-list {
  height:110px
}

.s-list {
  bottom:0
}

.review-block a {
  text-decoration:underline
}

.logo img {
  width:64px;
  float:left
}

.logo span {
  float:left;
  color:#252525;
  font-size:18px;
  padding-left:10px;
  margin-top:12px
}

.logo p {
  float:left;
  color:#b7b7b7;
  padding-left:10px
}

.sp-block {
  max-width:345px;
  float:left;
  position:relative
}

.logo-salon {
  max-width:150px;
  max-height:40px;
  margin-bottom:10px;
}

.contact-block {
  float:left;
  padding-left:30px
}

.contact-block time {
  font-size:13px
}

.contact-block p {
  color:#898989;
  font-size:14px;
  text-transform:uppercase;
  margin-top:10px
}

.contact-block span {
  display:inline-block;
  font-size:13px
}

.contact-block a {
  font-size:13px;
  text-decoration:underline
}

.reviews-salon {
  position:absolute;
  right:0;
  bottom:0
}

.reviews-salon span {
  font-size:18px;
  color:#1c95c3;
  text-decoration:underline;
  margin-left:3px
}

.brands-sales {padding-bottom:25px;}

.brands-sales li {
  font-size:11px;
  float:left;
  display:block;
  padding-right:10px;
  color: #2897c0;
  text-decoration:underline;
}

h4 {
  text-transform:uppercase;
  padding:15px 0;
  font-size:18px
}

.services p {
  font-size:13px
}

.inform-autosalon p {
  color:#636363;
  font-size:13px
}

.buying-options p {
  font-size:13px
}

.reviews-autosalon h4 {
  font-size:24px
}

.av190 img {
  width:160px;
  float:left
}

span.user-name {
  font-size:18px;
  text-transform:uppercase;
  padding-top:15px;
  display:block
}

.rating-user span {
  width:80px;
  height:80px;
  font-size:18px;
  text-transform:uppercase;
  text-align:center;
  line-height:80px;
  display:block;
  float:left;
  margin:0 10px
}

.review-salon {
  font-size:13px;
  border-bottom:1px solid #d7d7d7;
  padding:40px 0
}

a.all-review {
  float:left
}

.text-review {
  float:left;
  width:100%;
  padding:20px 0
}

.modal-content form#new_feedback h2 {
  padding:0 12px
}

.rating-user {
  padding:10px 0;
  display:block
}

.rating-user span {
  font-size:36px;
  color:#fff
}

.rating-user p {
  float:left;
  font-size:13px;
  text-transform:uppercase;
  line-height:80px;
  font-weight:600
}

.rblock {
  float:left;
  padding-left:30px
}

.reviews-autosalon h4 {
  padding:40px 0 20px
}

.salon-page {
  bottom:0
}
.more-reviews a {
  padding:10px 30px;
  border:1px solid #d7d7d7;
  color:#14a5d4;
  font-size:18px;
  position:relative;
}

.more-reviews  {
  display:block;
  padding:35px 0;
}

.more-reviews a:after {
  content:"";
  position:absolute;
  display:block;
  right:0;
  margin:0 31px;
  height:1px;
  border-bottom:1px dashed ;
  left:0;
  bottom:10px;
}
.more-reviews a:hover {
  background:#d7d7d7;
}
.modal-header {
  display: none;
}

.modal-dialog {
  margin: 215px auto 80px;
  max-width:750px;
}

.modal-content .send {
  background:#fff;
  padding:10px 25px;
  height:530px;
}

.modal-content .send .content{width:100%;}
.modal-content .send .col-7 {padding-right:20px;}
.modal-content .send #review_value {float:right;margin:0;}
.modal-content .send .col-7 span {line-height:40px;}
.modal-content .send #review_description {
  margin:20px 0;
  float:none;
  display:table-cell;
  height:100%;
  min-height:200px}
.modal-content .send .up-file {float:right; margin-top:-8px;}
.modal-content .send input[type="submit"] {margin:0;}
#new_feedback h2 {text-transform:uppercase;}
.modal-form {max-width:740px;padding:10px;}
#new_feedback input#feedback_name {max-width:350px;display:block;}
#new_feedback input#feedback_email {max-width:350px;display:block;}
#new_feedback textarea#feedback_message {margin:0;}
#new_feedback input[type="submit"] {margin:5px 0;}
.modal-content {border-radius: 0;}
.menu-btn {display:none;}

.block-nav {text-align:center;}
.nav-page {
  text-align: center;
  font-size:14px;
  margin:10px 0;
  display:inline-block;
}
a.arrows-pre,
a.arrow-pre {
  float:left;
  display: inline-block;
  width: 15px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 0 8px;
  margin: 0 8px;
  cursor:pointer;

}

a.arrow-pre {
  background-image: image-url('arrow-pre.png');}
a.arrows-pre {
  background-image: image-url('arrows-pre.png');
}
a.arrows-next,
a.arrow-next {
  display: inline-block;
  width: 15px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 0 8px;
  margin: 0 8px;
  cursor:pointer;

}
a.arrow-next {
  background-image: image-url('arrow-next.png');
}

a.arrows-next {background-image: image-url('arrows-next.png');}

.links-nav {
  float: left;
}
.links-nav a {

  display:inline-block;
  background:#252525;
  color:#fff;
  width:30px;
  height:30px;
  line-height:30px;
  margin:0 5px;
  text-decoration:none;
  cursor:pointer;}

.links-nav a:hover,
.links-nav a.active {
  background:#2897c0;


}

span.dot:before {
  font-size:15px;
  font-weight:600;
  width: 30px;
  line-height:30px;
  display: inline-block;
  content: "...";
  color: #222;
}
.foto-grid img {height: 222px;}




@media screen and (max-width: 640px) {
  .container {
    overflow:hidden
  }

  .row {
    width:100%
  }

  .header {
    width:100%;
    padding:0 10px
  }

  .navigation:after{
    height:0;
  }

  .red-left,
  .top-button,
  .cols.col-7.right-menu {
      display: none;
    }
  .modal-content .up-file {
    height:80px;
  }
  .modal-content input#review_photo{
    width: 140px;
    height: 50px;
    cursor: pointer;
    z-index: 9;
  }
  .modal-content .up-file input[type=file]{
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    opacity: 0;
    cursor: pointer
  }
  .up-file input[type=file]{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
  }

  form.new_review input[type="file"],
  form.new_feedback input[type="file"]{
    width:100%;
  }

  input#review_photo{
    width: 100%;
    height: 100%;

  }

  .col-6 {
    width:100%!important
  }

  .stars-top {
    display:none
  }

  .auto-salon {
    display:none
  }

  .catalog-grid {
    max-width:340px;
    margin:0 auto;
  }
  .catalog-item{margin-left:0;margin-bottom:30px;}
  .menu-btn {
    display:block;
    background-color:#e12e21;
    padding:20px;
    cursor:pointer;
    color:#fff;
    font-size:20px;
    font-weight:600;
  }

  .menu-btn:hover{background-color:#f22f20}
  .menu-btn:active{
    background-color:#f22

  }

  .btn-file {
    float: left;
    padding: 10px 40px;
    background: #444;
    border: 0;
    border-radius: 5px;
    color: #fff;
  }

  .top-auto-salon a {
    font-size: 14px;
    padding: 12px 0;
    margin: 0 2px;
  }

  .catalog-item h3 {
    font-size:16px;
    margin-bottom:15px;
    padding-top:5px
  }


  .review-top{
    margin-top:30px;
    position:relative;
    max-width:280px;
  }
  .auto-salon span,.top-auto-salon span {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .review-top li a {
    height:40px;
    border:none;
    background-color:#ddd;
    padding:10px 15px 10px 10px;
    border-radius:0 5px 5px 0;
    font-size:14px;
    text-transform:none;
    font-weight:600;
    padding-top: 11px;
  }
  .review-top li a:hover{
    border:none;
    background-color:#333;
    color:#fff;
  }
  .review-top li {
    display:block;
    width:100%;
  }
  .second-menu li a {
    font-size:15px;
    padding:10px 0
  }
  li.first {
    background-position: 10px 11px;
    padding:10px;
    padding-top:0;
  }

  li.second{background-position: 10px 13px;
    padding:10px;
    padding-top:0;}


  li.second:before,
  li.first:before {
    content:" ";
    position:absolute;
    z-index:-1;
    background-color:#333;
    width:40px;
    height:40px;
    margin-left:-6px;
    border-radius:4px

  }

  li.pushy-link span {
    display:inline-block;
    position:absolute;
    left: 8px;
    top: 15px;
    float: right;
    color: #08c;}

  li.pushy-link {position:relative;}


  .cols.col-5.left-menu {
    width:100%
  }

  .contact-block {
    padding-left:0
  }

  .red-left {
    width:100%;
    -webkit-transform:skew(0deg);
    -moz-transform:skew(0deg);
    -o-transform:skew(0deg);
    transform:skew(0deg);
    margin-left:-10px
  }
  input#review_photo:after {
    left:0;
    top:40px;
  }



  .cols.col-7.right-menu {
    width:100%
  }

  .first-menu {
    margin:0;
    background:#2897c0;
  }

  .more-reviews a {
    padding:10px;
    font-size:14px;
  }

  .more-reviews a:after {
    display:none;
  }

  textarea#review_description, textarea#feedback_message{
    margin:10px 0!important;
  }
  .first-menu li {
    margin:12px  0;
    border:0;
    width:100%;
    height:50px;
    -webkit-transform:skew(0deg);
    -moz-transform:skew(0deg);
    -o-transform:skew(0deg);
    transform:skew(0deg)
  }

  .first-menu span {
    -webkit-transform:skew(0deg);
    -moz-transform:skew(0deg);
    -o-transform:skew(0deg);
    transform:skew(0deg)
  }

  .first-menu li a {
    font-size:15px;
    line-height:50px
  }

  li.link-third,li.link-second {
    margin-top:-3px
  }

  .second-menu {
    padding:0;
    height:auto;
    margin:-8px 0
  }
  .footer-menu li{float:none;font-size:12px;margin:12px 0;}
  .footer-menu li a{font-size:15px;text-transform:none;font-weight:600;}
  .footer-brend li {display:block;width:100%;margin:5px 0;}
  .mark {font-size:15px;margin-top:0;}

  .second-menu li {
    float:none;
    display:block;
    text-align:center;
    border-bottom:1px solid #ec675f;
    padding:5px;
    margin:5px 0;
    border-right:0;
    line-height:32px
  }

  .second-menu span {
    top:-5px
  }

  .content {
    width:100%;
    margin:0 auto;
    padding:40px 10px
  }

  .cols.col-4 {
    width:100%
  }

  .cols.col-8 {
    width:100%
  }

  .form span {
    font-size:14px
  }

  input[type="file"] {
    float:left;
    width:100%;
    line-height:20px
  }

  .send {
    height:730px
  }

  textarea#message {
    margin:10px 0
  }

  .cols.col-5.footer-left {
    width:100%;
    margin-bottom:20px
  }

  .cols.col-7.footer-right {
    width:100%
  }

  .footer-brend {
    padding-bottom:20px;
    height:120px
  }

  .s-list {
    top:270px
  }

  .review-avatar span {
    float:left;
    padding:5px 0;
    display:block;
    width:100%
  }

  .logo img {
    width:40px
  }

  .logo span {
    font-size:15px;
    padding-left:5px;
    margin-top:3px
  }

  .logo p {
    padding-left:5px;
    font-size:11px
  }

  .col-7 {
    width:100%
  }

  .logo-salon {
    margin:20px 0
  }

  .col-5 {
    width:100%
  }

  .rblock {
    padding-left:0
  }

  .autosalon-contact {
    padding-left:0
  }

  .btn-file {
    float: left;
  }
  .up-file {
    min-width: 100%;
    overflow: hidden;

  }
  .rewiews-grid {
    position: absolute;
    left: 0;
    bottom: -25px
  }
  .modal-content .send {background:#fff;padding:10px 25px;height: 720px;}
  .modal-content .send .col-7 {padding-right:0;}
  .modal-content .send label.upload-file {font-size: 11px;}
  .modal-content .send .up-file {text-align:center;float:none;}
  .modal-content .send .btn-file{position:absolute; top:20px;left:-10px;}
  .modal-content .send .col-7 span {line-height:41px;}
  .modal-content .send #review_value {margin-top:0}

}

@media screen and (max-width: 345px) {


  .logo-grid {
    max-width: 150px;
    float: left;
    max-height: 40px
  }

  .logo img {
    width: 30px
  }

  .logo span {
    font-size: 14px;
    padding-left: 5px;
    margin-top: -2px
  }

  .logo p {
    padding-left: 5px;
    font-size: 10px
  }

  .list-item h3, .catalog-item h3 {
    max-width: 100%;
    float: left;
    margin-right: 20px;
  }

  .reviews-salon {
    bottom: -20px;
    left: 0
  }

  .s-list {
    top: 306px
  }
  .send{height:790px;}
}
