form.new_review, form.new_feedback{
  input:not([type]),input[type="email"],input[type="number"],input[type="password"],input[type="tel"],input[type="url"],input[type="text"] {
    font-family:"Noto sans",sans-serif;
    font-size:14px;
    color:#acacac;
    padding:10px;
    border-radius:0;
    border:1px solid #acacac;
    width:100%;
    margin:10px 0
  }

  textarea {
    border-radius:0;
    border:1px solid #acacac
  }

  textarea#review_description, textarea#feedback_message{
    font-family:"Noto Sans",sans-serif;
    width:100%;
    margin:10px 20px;
    font-size:14px;
    padding:10px;
    height:220px
  }

  select {
    padding:10px;
    margin:5px 10px
  }

  select#review_auto_show {
    font-family: "Noto sans",sans-serif;
    font-size: 14px;
    color: #acacac;
    padding: 10px;
    border-radius: 0;
    border: 1px solid #acacac;
    width: 100%;
    margin: 10px 0;
  }


  label {
    float:left
  }

  input[type="file"] {
    float:right;
    width:115px;
    overflow:hidden;
    line-height:30px
  }

  span {
    font-size:14px
  }

  input[type="submit"] {
    border:1px solid #464646;
    background:#464646;
    padding:10px 45px;
    text-transform:uppercase;
    font-size:14px;
    color:#fff;
    margin:0 20px
  }

  input[type="submit"]:hover {
    color:#464646;
    background:#fff;
    cursor:pointer
  }
}