/.send
/  .content
/    h2 Написать отзыв об автосалоне
/    .form
/      .cols.col-4
/        input name="name" placeholder=("Ваше имя") required="" type="text" /
/        input name="email" placeholder=("Адрес электронной почты") required="" type="text" /
/        input name="autosalon" placeholder=("Название автосалона") required="" type="text" /
/        span Поставьте оценку автосалону (из 5)
/        select
/          option 1
/          option 2
/          option 3
/          option 4
/          option 5
/        label.upload-file for="uploaded_file"  Приложите ваше фото к сообщению:
/        input#uploaded_file.upload-btn name="uploaded_file" type="file" /
/      .cols.col-8
/        textarea#message.text-review name="message" placeholder=("Напишите отзыв") required="" rows="5"
/        input type="submit" value="Отправить" /

.send
  .content
    h2 Написать отзыв об автосалоне
    = form_for @review do |f|
      .cols.col-4
        =f.text_field :name, placeholder: "Ваше имя"
        =f.text_field :email, placeholder: "Адрес электронной почты"
        =f.select :auto_show, AutoShow.ordered.all.collect { |c| [c.name, c.id] }.insert(0, "Название автосалона")
        /options_from_collection_for_select(@auto_shows, "id", "name"),  placeholder: "Название автосалона"
        /=f.text_field :auto_show, placeholder: "Название автосалона"
        span Поставьте оценку автосалону (из 5)
        =f.select :value, [1,2,3,4,5]
        .up-file
          label.upload-file for="uploaded_file"  Приложите ваше фото к сообщению:
          =f.file_field :photo, class: "upload-btn"
          .btn-file Выбрать
        /input#uploaded_file.upload-btn name="uploaded_file" type="file" /
      .cols.col-8
        =f.text_area :description, placeholder: "Напишите отзыв", rows: 5
        /textarea#message.text-review name="message" placeholder=("Напишите отзыв") required="" rows="5"
        =f.submit "Отправить"