.content.clearfix
  .page
    .preview
      h2 Мы не сотрудничаем с автодилерами
      | Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений.
    h1 Самые обсуждаемые автосалоны
.catalog-list.clearfix
  - @reviews.each_with_index do |review, i|
    =render 'reviews/list_item', i: i, review: review, auto_show: review.auto_show if review.auto_show