.rating-list class="#{'bg-white' if i.odd?}"
  .content
    .cols.col-6
      .list-item itemscope="" itemtype="http://schema.org/AutoDealer"
        .salon-bl
          h3 itemprop="name"
            =auto_show.name
          .logo-grid
            =image_tag auto_show.logo.url,  alt: auto_show.name
          .foto-grid
            =image_tag auto_show.picture.url,  alt: auto_show.name
          .rating.r-list class="grade-ns#{review.value}"
            p Рейтинг
            span =review.value || '-'
            | /5
          .rating-shadow.s-list
        .autosalon-contact itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"
          p Адрес:
          span itemprop="streetAddress"
            =auto_show.address
          p Телефон:
          span itemprop="telephone"
            =auto_show.phone
          p Сайт:
          =link_to auto_show.site, auto_show.site, itemprop: "url"
    .cols.col-6
      .review-block
        .review-avatar
          =image_tag review.photo.url
          span =review.name
        /p = truncate(review.description, :ommision => "... Читать весь отзыв", :length => 100)
        p = review.description.html_safe if review.description