.send
  .content
    h2 Оставьте отзыв об автосалоне
    = form_for @review do |f|
      .cols.col-7
        =f.text_field :name, placeholder: "Ваше имя"
        =f.text_field :email, placeholder: "Адрес электронной почты"
        span Поставьте оценку автосалону (из 5)
        =f.select :value, [1,2,3,4,5]
      .cols.col-5
        =f.select :auto_show, AutoShow.ordered.all.collect { |c| [c.name, c.id] }.insert(0, "Выберите автосалон")

      .cols.col-12
        =f.text_area :description, placeholder: "Напишите отзыв", rows: 5
        =f.submit "Отправить"
        .up-file
          label.upload-file for="uploaded_file"  Приложите ваше фото к сообщению:
          = f.file_field :photo, class: "upload-btn"
          .btn-file Выбрать