<!DOCTYPE html>
<html>
  <head>
    <title>Рейтинг автосалонов Москвы</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.png' %>
    <!--<%= render 'layouts/embed_styles' %>-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'modals', 'data-turbolinks-track': false %>
  </head>

  <body>
    <div id="modal-holder"></div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'blocks/header' %>
    <%= render 'blocks/menu' %>
    <div class="container">
      <%= yield %>
      <%= render 'blocks/footer' %>
    </div>
  </body>
</html>
<%= javascript_include_tag 'pushy', 'data-turbolinks-track': false %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'%>
